 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:  #f8f8f8;
  }
  
  h2 {
    font-size: 2em;
    color: #333;
  }
  
  form {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 350px;
    max-width: 90%;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  input:focus,
  select:focus {
    border-color: #007bff;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .link {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .link:hover {
    color: #0056b3;
  }
  